<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Seul Ah Kim
              </h1>
              <p>I am a Neuroscience PhD student in <a href="https://sabatini.hms.harvard.edu/">Bernardo Sabatini's</a> Lab at the Harvard Medical School, where I study mechanism and function of neurotransmitter co-release using electrophysiology, optogenetics, and model simulation. 
		 <p>     
		  I joined the <a href="https://www.hms.harvard.edu/dms/neuroscience/">Harvard PiN program</a> in 2016 and worked on rotation projects with <a href="https://drugowitschlab.hms.harvard.edu/">Jan Drugowitsch</a> and <a href="https://www.lee.hms.harvard.edu/">Wei-Chung Lee</a>. Prior to starting PhD, I was a research assistant in <a href="http://eye-hand.wustl.edu/">Larry Synder's</a> lab at Washington University School of Medicine. I obtained a Bachelor's degree in Biomedical Engineering from <a href="https://bme.wustl.edu/">Washington University in St. Louis</a> in 2015. As an undergrad, I worked in <a href="https://braindynamics.engineering.wustl.edu/">ShiNung Ching's</a> lab.
          
              </p>

          </p>
              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?user=F2MEMB4AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/seul-ah-kim-328a4527/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/SeulAhKim.jpeg">
            </td>
          </tr>

	</table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research: Experimental</h2>
              <p>Work completed during PhD</p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">	
	
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href=""><h3>In Progress</h3></a>
              <br>
              <br><h3>Seul Ah Kim*</h3>, Michael Wallace, Mahmoud El-Rifai, <em>et al</em>
               <br><em>bioRxiv</em>, <em><a href=""><h3>pdf</h3></a></em>
              <br><br> 
            </td>
          </tr>
          
	
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research: Theoretical</h2>
              <p> During my time at Wash U</p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">	
	
	 <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/quasilinear.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://ieeexplore.ieee.org/abstract/document/7526836"><h3>Quasilinearization-based controllability analysis of neuronal rate networks</h3></a>
              <br>
              <br><h3>Seul Ah Kim*</h3>, ShiNung Ching
              <br><em>2016 American Control Conference (Refereed), IEEE</em>, 2016, <em><a href="https://seulah-kim.github.io/pdfs/quasilinear.pdf"><h3>pdf</h3></a></em>
              <br><br> Quasi-linearization of nonlinear rate neurons to approximate controllability of dynamics.
            </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/pharmacokinetic.png' width="180"></div>
            </td>
        

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://asmedigitalcollection.asme.org/dynamicsystems/article-abstract/138/8/084501/422103"><h3>A Control-Theoretic Approach to Neural Pharmacology: Optimizing Drug Selection and Dosing</h3></a>
              <br>
              <br>Gautam Kumar*, <h3>Seul Ah Kim</h3>, ShiNung Ching
               <br><em>Journal of Dynamic Systems, Measurement, and Control</em>, 2016
              <br><br> Pharmacokinetic modeling of propofol binding to GABAA receptors for designing optimal dosing strategies for modulation of neural dynamics.
            </td>
          </tr>
         
        </table>
        <br>
        <br>
        <br>
        	

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
